.button {
    padding: .75em .125em;
    border: 1px solid $colorPrimary;
    border-radius: .5em;

    color: $colorPrimary; 
    font-size: 1rem;
    font-weight: bold;

    background: none;

    &--correct {
        color: #fff;
        background: $colorPrimary;
    }

    &--wrong {
        color: #fff;
        background: $colorDanger;
        border-color: $colorDanger;
    }
}