.button {
    padding: .7rem 0;
    border: 1.5px solid $colorPrimary;
    border-radius: 8px;

    font-size: 1.1rem;
    color: $colorPrimary; 
    font-weight: bold;

    background: none;

    &--correct {
        background: $colorPrimary;
        color: #fff;
    }

    &--wrong {
        border-color: #e94f4f;
        background: #e94f4f;
        color: #fff;
    }
}