.button {
    padding: .7rem 0;
    border: 1.5px solid $colorPrimary;
    border-radius: 8px;

    color: $colorPrimary; 
    font-size: 1.1rem;
    font-weight: bold;

    background: none;

    &--correct {
        color: #fff;
        background: $colorPrimary;
    }

    &--wrong {
        color: #fff;
        background: $colorDanger;
        border-color: $colorDanger;
    }
}