.navbar {
    height: 60px;
    width: 100%;
    padding: .75rem 1.2rem;

    background-color: $primary-color;

    display: flex;
    justify-content: space-between;

    // user block wrapper
    &__user {
        display: flex;
        align-items: center;
        color: #fff;

        // user icon
        &-icon {
            margin-right: 15px;
            font-size: 35px;
            line-height: 1;
        }

        // user info block wrapper
        &-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        // user name text
        &-name {
            line-height: .9;
        }

        // user score
        &-score {
            color: #ebd963;
            font-weight: bold;
            line-height: .9;
        }

        &-name, &-score { font-size: 1rem; }
    }

    // time block wrapper
    &__time {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        // time clock icon
        &-icon {
            font-size: 1rem;
        }

        // time text - seconds
        &-text {
            line-height: .8;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}