.question {
    position: relative;
    background: #ffe185;
    border-radius: 5px;
    padding: 0 20px;
    margin: 1.5rem 0 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    &__counter {
        padding: 5px 20px;

        position: absolute;
        top: calc(-8px - 10px);
        left: 50%;
        transform: translateX(-50%);

        background: #fff;

        font-size: 16px;
        color: $primary-color;
        font-weight: bold;

        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }

    &__icon {
        height: 30px;
        width: 30px;
        line-height: 30px;
        
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        border-radius: 50%;

        color: $primary-color;
        font-weight: bold;
        text-align: center;

        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
}