.question {
    position: relative;
    background: #ffe185;
    border-radius: 5px;
    padding: 0 20px;
    margin: 1.5rem 0 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    &__counter {
        position: absolute;
        top: calc(-0.4rem - 10px);
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        color: $primary-color;
        font-weight: bold;
        padding: 5px 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        font-size: .8rem;
    }

    &__icon {
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        bottom: -15px;
        border-radius: 50%;
        color: $primary-color;
        font-weight: bold;
        box-shadow: 0 0 10px rgba(0,0,0,.1);

        background: #fff;
        left: 50%;
        transform: translateX(-50%);
    }
}