$gapY: 15px;

// flex utility
.flex {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--col {
        flex-direction: column;
    }

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }


}
.gap-y > *:not(:last-child) {
    margin-bottom: $gapY
}