.quiz {
    padding: $margin;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__answers {
        display: flex;
        flex-direction: column;

        & > .button:not(:last-child) {
            margin-bottom: $margin;
        }
    }
}